In [ ]:
import features_mp as ft
t_data = ft.gen_n_feature(data_file="test.csv")

S:\anaconda\envs\tf\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

generate the data for pos_vec_test
generate the data for local_vec_test
generate the data for nmf30_features_test
generate the data for svd25_features_test
generate the data for svd300_features_test
read the data for common_ratio_features_test

E:\quora\ud_quora\features_mp.py:76: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  parameter = r_or_g_by_list_n(l, i-1)

data for common_ratio_features_test read
process topic model starts with 2 processes 9 jobs

In [29]:

import pandas as pd
import numpy as np

test_ranges = [
      (0,        270000)
     ,(270000,   540000)
     ,(540000,   810000)
     ,(810000,  1800000)
#     ,(1800000,  2700000)
    ,(2700000,  3563475)
]

features = ['test_id', 'len_q1', 'len_q2', 'diff_len', 'len_char_q1', 'len_char_q2', 'len_word_q1', 'len_word_q2',
           'common_words', 'fuzz_qratio', 'fuzz_WRatio', 'fuzz_partial_ratio',
           'fuzz_partial_token_set_ratio', 'fuzz_partial_token_sort_ratio',
           'fuzz_token_set_ratio', 'fuzz_token_sort_ratio', 'wmd', 'norm_wmd',
           'cosine_distance', 'cityblock_distance', 'jaccard_distance',
           'canberra_distance', 'euclidean_distance', 'minkowski_distance',
           'braycurtis_distance', 'skew_q1vec', 'skew_q2vec', 'kur_q1vec',
           'kur_q2vec']

model_features = ['len_q1', 'len_q2', 'diff_len', 'len_char_q1', 'len_char_q2', 'len_word_q1', 'len_word_q2',
           'common_words', 'fuzz_qratio', 'fuzz_WRatio', 'fuzz_partial_ratio',
           'fuzz_partial_token_set_ratio', 'fuzz_partial_token_sort_ratio',
           'fuzz_token_set_ratio', 'fuzz_token_sort_ratio', 'wmd', 'norm_wmd',
           'cosine_distance', 'cityblock_distance', 'jaccard_distance',
           'canberra_distance', 'euclidean_distance', 'minkowski_distance',
           'braycurtis_distance', 'skew_q1vec', 'skew_q2vec', 'kur_q1vec',
           'kur_q2vec']

def prepare_test_data(data_tuple):
    start, end = data_tuple
    t_data = ft.gen_feature(n=end, data_file="test.csv", start=start)
    
    feature_data = t_data
    input_data = feature_data[model_features]
    input_data = input_data.replace([np.inf, -np.inf], 100).fillna(0).astype(np.float64)
    input_data['test_id'] = feature_data['test_id']
    return input_data

In [36]:
def cal_result(tuple):
    df = prepare_test_data(tuple)
    df['is_duplicate'] = clf.predict(df[model_features])
    result = df[['test_id', 'is_duplicate']]
    return result

results = [cal_result(x) for x in test_ranges]

read the data for dist_features_test_0_270000
data for dist_features_test_0_270000 read
read the data for dist_features_test_270000_540000
data for dist_features_test_270000_540000 read
read the data for dist_features_test_540000_810000
data for dist_features_test_540000_810000 read
read the data for dist_features_test_810000_1800000
data for dist_features_test_810000_1800000 read
read the data for dist_features_test_2700000_3563475
data for dist_features_test_2700000_3563475 read

In [37]:
results[0]

        test_id  is_duplicate
0             0             0
1             1             1
2             2             1
3             3             0
4             4             0
5             5             0
6             6             1
7             7             0
8             8             1
9             9             0
10           10             0
11           11             0
12           12             0
13           13             0
14           14             0
15           15             0
16           16             0
17           17             1
18           18             1
19           19             1
20           20             0
21           21             0
22           22             0
23           23             0
24           24             0
25           25             0
26           26             0
27           27             0
28           28             0
29           29             0
...         ...           ...
269970   269970             0
269971   269971             0
269972   269972             0
269973   269973             0
269974   269974             0
269975   269975             0
269976   269976             0
269977   269977             0
269978   269978             0
269979   269979             0
269980   269980             0
269981   269981             0
269982   269982             0
269983   269983             1
269984   269984             0
269985   269985             0
269986   269986             0
269987   269987             0
269988   269988             0
269989   269989             0
269990   269990             0
269991   269991             0
269992   269992             0
269993   269993             0
269994   269994             0
269995   269995             0
269996   269996             0
269997   269997             1
269998   269998             0
269999   269999             0

[270000 rows x 2 columns]

In [39]:
all = pd.concat(results)
all.to_csv("data/result_less.csv", index=False)

In [40]:
drop = all.drop_duplicates(['test_id'], keep='last')
drop.to_csv("data/result_less.csv", index=False)

In [41]:
single = results[0]
single = single.drop_duplicates(['test_id'], keep='last')
single.to_csv("data/submission.csv", index=False)

In [1]:
l  =['a','b']
for i,n in enumerate(l):
    print(i,n)

0 a
1 b